<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shenyingchengxun.house.dao.NotesDao">
	<insert id="addNotes" parameterType="com.shenyingchengxun.house.bean.Notes" keyProperty="no.id" useGeneratedKeys="true">
		  insert into wx_housenotes (houseid,times,notes) values 
			(#{no.houseid},now(),#{no.notes}) 
	</insert>
	<select id="getNotesListByHouseid" parameterType="String" resultType="com.shenyingchengxun.house.bean.Notes">
		select id,houseid,times,notes from wx_housenotes where houseid = #{houseid} order by times desc
	</select>
	<delete id="delNotesByHouseid" parameterType="String">
		delete from wx_housenotes where houseid = #{houseid}
	</delete>
	<delete id="delNotes" parameterType="String">
		delete from wx_housenotes where id = #{id}
	</delete>
	
</mapper>