/*author:mjh*/
* { margin: 0; padding: 0; }
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #434343; }
body { font-family: "Microsoft YaHei"; z-index: 0; background:#fff; }
ul, ol, li { list-style: none; }
a, img { border: none; outline-style: none; cursor: pointer; }
a,a:hover{ text-decoration: none; }
h1, h2, h3, h4, h5, h6 { font-weight: normal; }
.clearfix:after { clear: both; content: "."; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
input{ outline:none; font-family: "Microsoft YaHei"; }
.clear { clear: both; }
.fright, .vright { float: right; display: inline; }
.fleft { float: left; display: inline; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }

@media all {
html { font-size: 16px; }
}
@media all and (min-width:140px) {
html { font-size: 9px; }
}
 @media all and (min-width: 220px) {
html { font-size: 9px; }
}
@media all and (min-width:210px), (min-width:280px) , (min-width:280px)  {
html { font-size: 14px; }
}
@media all and (min-width:300px), (min-width:460px) {
html { font-size: 16px; }
}
@media all and (min-width:340px), (min-width:620px) {
html { font-size: 20px; }
}
 @media all and (min-width:420px),  (min-width:760px) and (max-width:900px) {
html { font-size: 24px; }
}
@media all and (min-width:500px), (min-width:900px) {
html { font-size: 28px; }
}
@media all and (min-width:1000px), (min-width:740px) {
html { font-size: 20px; }
}
@media all and (min-width:1200px), (min-width:600px) {
html { font-size: 32px; }
}
@media all and (min-width:1280px), (min-width:720px) {
html { font-size: 32px; }
}
@media all and (min-width:1000px), (min-width:1900px) {
html { font-size: 48px; }
}
@media all and (device-width:1920px), (device-width:1080px) {
html { font-size: 48px; }
}
@media all and (device-width:720px) {
html { font-size: 32px; }
}
@media all and (device-width:1024px), (device-width:768px) {
html { font-size: 20px; }
}
@media all and (device-width:960px), (device-width:640px) {
html { font-size: 32px; }
}
 @media all and (device-width:480px),  (min-device-width:800px) and (max-device-width:900px){
html { font-size: 24px; }
}
 @media all and (device-width:360px), (device-width:640px) {
html { font-size: 16px; }
}
 @media all and (device-width:320px), (device-width:480px) {
html { font-size: 16px; }
}
 @media all and (device-width:240px), (device-width:320px), (device-width:320px) {
html { font-size: 14px; }
}
 @media all and (device-width:640px) {
html { font-size: 32px; }
}
/*基数字体大小为32px时的自定义字体的大小*/
.font32 { font-size: 1rem; }
.font20 { font-size: .625rem; }
.font24 { font-size: .75rem; }
.font22 { font-size: .68rem; }
.font60 { font-size: 1.875rem; }
.font40 { font-size: 1.25rem; }
.font26 { font-size: .8125rem; }
.font28 { font-size: .875rem; }
.font50 { font-size: 1.6rem; }
.waiting span{width: 100%;text-align: center;font-size: .8125rem;}